.landing-page {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 2917px;
  position: relative;
}

.landing-page .rectangle {
  position: absolute;
  top: 129px;
  left: -12px;
  width: 1464px;
  height: 199px;
  border-radius: 40px;
  background: linear-gradient(
    90deg,
    rgba(53, 25, 102, 1) 0%,
    rgba(107, 51, 204, 1) 100%
  );
}

.landing-page .div {
  position: absolute;
  top: 0;
  left: -12px;
  width: 1464px;
  height: 97px;
  background-color: #e2e2e2;
  border-radius: 40px;
}

.landing-page .text-wrapper {
  top: 40px;
  left: 1117px;
  color: #0f7fff;
  position: absolute;
  width: 178px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-2 {
  position: absolute;
  top: 41px;
  left: 971px;
  width: 215px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-3 {
  top: 39px;
  left: 1222px;
  color: #010101;
  position: absolute;
  width: 178px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .group {
  position: absolute;
  top: 229px;
  left: 91px;
  width: 1236px;
  height: 165px;
}

.landing-page .rectangle-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1228px;
  height: 165px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 2px #00000040;
}

.landing-page .text-wrapper-4 {
  top: 29px;
  left: 0;
  width: 178px;
  text-align: center;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-5 {
  position: absolute;
  top: 62px;
  left: 21px;
  width: 278px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .p {
  position: absolute;
  top: 92px;
  left: 22px;
  width: 338px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-6 {
  top: 121px;
  left: 28px;
  width: 338px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-7 {
  position: absolute;
  top: 260px;
  left: 561px;
  width: 213px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .text-wrapper-8 {
  position: absolute;
  top: 290px;
  left: 561px;
  width: 235px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .text-wrapper-9 {
  position: absolute;
  top: 318px;
  left: 561px;
  width: 235px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .text-wrapper-10 {
  position: absolute;
  top: 346px;
  left: 561px;
  width: 292px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .Gambarkantor {
  position: absolute;
  top: 406px;
  left: 0;
  width: 1440px;
  height: 939px;
  object-fit: cover;
}

.landing-page .not-listed-location {
  position: absolute;
  top: 40px;
  left: 1013px;
  width: 24px;
  height: 24px;
  aspect-ratio: 1;
}

.landing-page .produk-jasa-digital {
  position: absolute;
  top: 780px;
  left: 107px;
  width: 1285px;
  -webkit-text-stroke: 1px #ffffff;
  background: linear-gradient(
    90deg,
    rgba(51, 18, 76, 1) 0%,
    rgba(119, 41, 178, 1) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Krona One-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 96px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .group-2 {
  position: absolute;
  top: 2190px;
  left: 0;
  width: 1480px;
  height: 727px;
}

.landing-page .rectangle-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 727px;
  background-color: #404040;
}

.landing-page .rectangle-4 {
  position: absolute;
  top: 68px;
  left: 66px;
  width: 213px;
  height: 233px;
  background-color: #d9d9d9;
  border-radius: 30px;
}

.landing-page .logo-holly-group {
  position: absolute;
  top: 34px;
  left: 29px;
  width: 288px;
  height: 288px;
  aspect-ratio: 1;
  object-fit: cover;
}

.landing-page .text-on-a-path {
  position: absolute;
  top: 21px;
  left: 16px;
  width: 313px;
  height: 313px;
  object-fit: cover;
}

.landing-page .text-wrapper-11 {
  top: 68px;
  left: 304px;
  width: 331px;
  font-family: "DM Serif Display-Regular", Helvetica;
  color: #ffffff;
  font-size: 48px;
  position: absolute;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-12 {
  position: absolute;
  top: 341px;
  left: 312px;
  width: 331px;
  font-family: "DM Serif Display-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .produk-jasa {
  position: absolute;
  top: 68px;
  left: 791px;
  width: 331px;
  font-family: "DM Serif Display-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-13 {
  position: absolute;
  top: 142px;
  left: 321px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b0b0b0;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-14 {
  position: absolute;
  top: 142px;
  left: 800px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b0b0b0;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-15 {
  position: absolute;
  top: 178px;
  left: 800px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b0b0b0;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-16 {
  top: 214px;
  left: 800px;
  font-family: "Inter-Regular", Helvetica;
  color: #b0b0b0;
  font-size: 24px;
  text-align: center;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-17 {
  position: absolute;
  top: 250px;
  left: 800px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b0b0b0;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-18 {
  position: absolute;
  top: 286px;
  left: 800px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b0b0b0;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-19 {
  position: absolute;
  top: 322px;
  left: 800px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b0b0b0;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-20 {
  position: absolute;
  top: 358px;
  left: 800px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b0b0b0;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-21 {
  position: absolute;
  top: 394px;
  left: 800px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b0b0b0;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-22 {
  position: absolute;
  top: 178px;
  left: 321px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b0b0b0;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-23 {
  position: absolute;
  top: 214px;
  left: 321px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b0b0b0;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-24 {
  position: absolute;
  top: 250px;
  left: 321px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b0b0b0;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-25 {
  top: 286px;
  left: 321px;
  font-family: "Inter-Regular", Helvetica;
  color: #b0b0b0;
  font-size: 24px;
  position: absolute;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-26 {
  position: absolute;
  top: 413px;
  left: 321px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b0b0b0;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-27 {
  position: absolute;
  top: 446px;
  left: 321px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b0b0b0;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-28 {
  position: absolute;
  top: 480px;
  left: 321px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b0b0b0;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-29 {
  position: absolute;
  top: 509px;
  left: 321px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b0b0b0;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .rectangle-5 {
  position: absolute;
  top: 1501px;
  left: 107px;
  width: 446px;
  height: 485px;
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    rgba(73, 12, 114, 1) 0%,
    rgba(139, 23, 216, 1) 100%
  );
}

.landing-page .rectangle-6 {
  position: absolute;
  top: 1542px;
  left: 148px;
  width: 446px;
  height: 485px;
  background-color: #dddddd;
  border-radius: 30px;
}

.landing-page .rectangle-7 {
  position: absolute;
  top: 1501px;
  left: 841px;
  width: 446px;
  height: 485px;
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    rgba(32, 26, 116, 1) 0%,
    rgba(60, 48, 218, 1) 100%
  );
}

.landing-page .img {
  position: absolute;
  top: 1536px;
  left: 884px;
  width: 446px;
  height: 485px;
  object-fit: cover;
}

.landing-page .text-wrapper-30 {
  position: absolute;
  top: 1382px;
  left: 104px;
  width: 449px;
  font-family: "Italianno-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 96px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .text-wrapper-31 {
  position: absolute;
  top: 1591px;
  left: 190px;
  width: 291px;
  font-family: "Kaisei Opti-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .dimulai-dari-rp {
  position: absolute;
  top: 1880px;
  left: 190px;
  width: 291px;
  font-family: "Kaisei Opti-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .rectangle-8 {
  position: absolute;
  top: 1559px;
  left: 914px;
  width: 446px;
  height: 485px;
  background-color: #dddddd;
  border-radius: 30px;
  opacity: 0.5;
}

.landing-page .text-wrapper-32 {
  top: 1591px;
  left: 957px;
  width: 320px;
  font-family: "Kaisei Opti-Regular", Helvetica;
  color: #000000;
  font-size: 32px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .dimulai-dari {
  position: absolute;
  top: 1880px;
  left: 957px;
  width: 291px;
  font-family: "Kaisei Opti-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-33 {
  position: absolute;
  top: 2874px;
  left: 537px;
  width: 423px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
